// Breaks
$break-small: 							360px !default;
$break-mid: 							760px !default;
$break-large:							960px !default;

// Colors
$dark-grey:								#666 !default;
$light-grey:							#EEE !default;
$grey:									#CCC !default;
$yellow:								#FFFF68 !default;
$yellow-light:							rgba($yellow, .75) !default;

$border-dark:							1px solid $dark-grey !default;
$border-light:							1px solid $light-grey !default;

// Comments
// --------------------------------------------------
$thumb-width:							40px !default;
$thumb-sm-width:						20px !default;
$thumb-lg-width:						80px !default;

$comment-border-radius:					4px !default;
$comment-padding:						20px !default;

$comment-border:						1px solid $light-grey !default;
$comment-bg:							transparent !default;
$comment-color: 						inherit !default;

$comment-title-font:					inherit !default;
$comment-title-size:					12px !default;
$comment-depth-indent:					20px !default;

// Variants
$comment-active-border:					$comment-border !default;
$comment-active-bg:						$comment-bg !default;
$comment-active-color:					$comment-color !default;

$comment-edited-border:					$comment-border !default;
$comment-edited-bg:						$comment-bg !default;
$comment-edited-color:					$comment-color !default;

$comment-read-border:					$comment-border !default;
$comment-read-bg:						$comment-bg !default;
$comment-read-color:					$comment-color !default;

$comment-unread-border:					1px solid $grey !default;
$comment-unread-bg:						$comment-bg !default;
$comment-unread-color:					$comment-color !default;

$comment-deleted-border:				$comment-border !default;
$comment-deleted-bg:					$comment-bg !default;
$comment-deleted-color:					$grey !default;

// Messages
// -------------------------------------------------
$message-window-height: 				800px !default;
$message-list-title-heading-size:		24px !default;
$message-list-title-padding-vertical:	10px !default;
$message-list-title-padding-horizontal:	0 !default;
$message-list-title-heading-height: 	$message-list-title-heading-size + 10 + 2 * $message-list-title-padding-vertical !default;
$message-list-title-nav-height:			40px + 2 * $message-list-title-padding-vertical !default;