.empty-msg {
	padding: $padding-large-vertical $padding-large-horizontal;
	color: $gray;
}

.tb-description {
	padding: $padding-base-vertical $padding-base-horizontal;
	font-style: italic;
}

.tb-archive {
	border: $comment-border;
	border-radius: $comment-border-radius;
	min-height: 300px;
	margin-bottom: $line-height-computed;
	
	> div, > table {
		margin-bottom: 0;
	}
}
.panel > .tb-archive {
	border-left: 0;
	border-right: 0;
	margin-bottom: 0;
	> table {
		tr {
			td:first {
				padding-left: $padding-large-horizontal;
			}
			td:last {
				padding-right: $padding-large-horizontal;
			}
		}
	}
}

$neighbor-icon-size: 				40px;
$neighbor-padding-vertical: 		$padding-large-vertical;
$neighbor-padding-horizontal: 		$padding-base-horizontal;

ul.tb-neighbors {
	&, > li {
		margin: 0;
		padding: 0;
		display: block;
		overflow: hidden;
		list-style-type: none;
	}
	margin-bottom: $line-height-computed;
	> li {
		position: relative;
		float: left;
		width: 50%;
		> a {
			display: block;
			padding: $neighbor-padding-vertical $neighbor-padding-horizontal;
			text-decoration: none !important;
			padding-left: $neighbor-icon-size + $neighbor-padding-horizontal * 2;
			&:hover {
				background-color: $link-color;
				color: white;
			}
		}
		i {
			position: absolute;
			top: $neighbor-padding-vertical;
			left: $neighbor-padding-horizontal;
			font-size: $neighbor-icon-size;
			display: block;
			width: $neighbor-icon-size;
			text-align: center;
			opacity: .25;
		}
		&.next {
			float: right;
			text-align: right;
			> a {
				padding-right: $neighbor-padding-horizontal * 2 + $neighbor-icon-size;
				padding-left: $neighbor-padding-horizontal;
				> i {
					left: auto;
					right: $neighbor-padding-horizontal;
				}
			}
		}

	}
}